._loading_1sery_1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.3);
  user-select: none;
}
._loading_1sery_1 ._loading-container_1sery_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin: auto;
}
._loading_1sery_1 ._circular_1sery_21 {
  width: 60px;
  height: 60px;
  animation: _loading-rotate_1sery_1 2s linear infinite;
}
._loading_1sery_1 ._path_1sery_26 {
  animation: _loading-dash_1sery_1 1.5s ease-in-out infinite;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: #1677FF;
  stroke-linecap: round;
  opacity: 0.8;
}
@keyframes _loading-rotate_1sery_1 {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes _loading-dash_1sery_1 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}._sidebar-logo_ult04_1 {
  height: 60px;
}

._logo__text_ult04_5 {
  font-size: 25px;
  color: #1677FF;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  margin: 0 28px;
  overflow: hidden;
}._sidebar_159ra_1 {
  background: #001529;
  user-select: none;
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  position: relative;
  overflow: hidden;
}

._sidebar-content_159ra_9 {
  height: 100%;
  padding-top: 0.1px;
  margin-top: -0.1px;
  overflow-y: scroll;
  will-change: scroll-position;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
._sidebar-content_159ra_9::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

._sidebar-content__wrap_159ra_25 {
  position: relative;
}._tag_1ovzm_1 {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  user-select: none;
  padding-inline: 7px;
  background: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}
._tag_1ovzm_1 ._dot-inner_1ovzm_15 {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  background: #D9D9D9;
  transition: all 0.2s;
}
._tag_1ovzm_1 ._dot-inner_1ovzm_15._dot-inner__primary_1ovzm_23 {
  background: #1677FF !important;
}
._tag_1ovzm_1 ._tag_text_1ovzm_26 {
  height: 14px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 14px;
}
._tag_1ovzm_1 ._close_1ovzm_32 {
  width: 14px;
  height: 14px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 14px;
  text-align: center;
  margin-inline-start: 4px;
  cursor: pointer;
  transition: all 0.2s;
}
._tag_1ovzm_1 ._close_1ovzm_32 .anticon-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 10px;
  text-align: center;
}
._tag_1ovzm_1 ._close_1ovzm_32 .anticon-close:hover {
  color: #FF4D4F;
}._tags-nav-wrap_io96o_1 {
  position: relative;
  width: 100%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  overflow: hidden;
}

._tags-nav_io96o_1 {
  position: relative;
  width: 100%;
  height: 40px;
  background: #F5F5F5;
}
._tags-nav_io96o_1 ._button_io96o_15 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  font-size: 12px;
  line-height: 0;
  background: #FFF;
  border: none;
}
._tags-nav_io96o_1 ._button_io96o_15:hover {
  background: #FFF;
  color: #1677FF;
}
._tags-nav_io96o_1 ._button_io96o_15:active {
  background: #FFF;
}
._tags-nav_io96o_1 ._btn-wrap_io96o_34 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 40px;
}
._tags-nav_io96o_1 ._btn-wrap_io96o_34._left-btn_io96o_41 {
  left: 0;
}
._tags-nav_io96o_1 ._btn-wrap_io96o_34._right-btn_io96o_44 {
  right: 32px;
}
._tags-nav_io96o_1 ._close-wrap_io96o_47 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 40px;
  padding-right: 8px;
  border-left: 1px solid #D9D9D9;
  background: #FFF;
}
._tags-nav_io96o_1 ._close-wrap_io96o_47 ._button_io96o_15 {
  position: relative;
}
._tags-nav_io96o_1 ._close-wrap_io96o_47 ._button_io96o_15:after {
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  left: 0;
  content: "";
}
._tags-nav_io96o_1 ._close-wrap_io96o_47 ._button_io96o_15 .anticon-close-circle {
  margin-right: -8px;
}
._tags-nav_io96o_1 ._tag_io96o_1 {
  margin-inline-end: 4px;
}

._scroll-outer_io96o_76 {
  position: absolute;
  top: 0;
  right: 60px;
  bottom: 0;
  left: 28px;
  padding: 4px 0;
  box-shadow: inset 0 0 3px 2px hsla(0, 0%, 39.2%, 0.1);
  overflow: hidden;
}
._scroll-outer_io96o_76 ._scroll-body_io96o_86 {
  position: absolute;
  display: inline-block;
  padding: 0 4px;
  overflow: visible;
  white-space: nowrap;
  transition: left 0.3s ease;
}._fullscreen_1s7ih_1 {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 20px;
  cursor: pointer;
}
._fullscreen_1s7ih_1:hover {
  color: #1677FF;
}._avatar-wrap_1g6yn_1 {
  height: 60px;
  cursor: pointer;
  position: relative;
}

._avatar-center_1g6yn_7 {
  height: 60px;
  display: flex;
  align-items: center;
}
._avatar-center_1g6yn_7 ._avatar-center__icon-down_1g6yn_12 {
  color: rgba(0, 0, 0, 0.65);
  width: 18px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._avatar-menu_1g6yn_21 {
  min-width: 110px;
  white-space: nowrap;
}._language-wrap_1uqw4_1 {
  height: 60px;
  cursor: pointer;
  position: relative;
}

._language-center_1uqw4_7 {
  height: 60px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
._language-center_1uqw4_7 ._language-center__icon-down_1uqw4_13 {
  color: rgba(0, 0, 0, 0.65);
  width: 18px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._language-menu_1uqw4_22 {
  min-width: 110px;
  white-space: nowrap;
}._navbar_1omr5_1 {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: #FFF;
  user-select: none;
  position: relative;
}

._navbar__left_1omr5_12, ._navbar__right_1omr5_12 {
  height: 100%;
  display: flex;
  align-items: center;
}

._navbar__right_1omr5_12 {
  padding-right: 20px;
}

._collapse_1omr5_22 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
}
._collapse_1omr5_22:hover {
  color: #1677FF;
}
._collapse_1omr5_22 ._collapse__icon_1omr5_37 {
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  margin: auto;
}
._collapse_1omr5_22 ._collapse__icon_1omr5_37._collapse__icon-down_1omr5_41 {
  transform: rotate(90deg);
}._popup-container_ged24_1 {
  position: relative;
}

._descriptions_ged24_5 .field-textarea__read {
  padding: 0 !important;
}

._descriptions-header_ged24_9 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
._descriptions-header_ged24_9 ._descriptions-title_ged24_14 {
  flex: auto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
._descriptions-header_ged24_9 ._descriptions-extra_ged24_24 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  margin-inline-start: auto;
}._form-wrap_ygcln_1 {
  position: relative;
}
._form-wrap_ygcln_1 .ant-input-clear-icon {
  font-size: 14px;
}
._form-wrap_ygcln_1 .ant-select-arrow, ._form-wrap_ygcln_1 .ant-select-clear {
  width: 14px;
  height: 14px;
  font-size: 14px;
  inset-inline-end: 10px;
  margin-top: -7px;
}._collapse-button_1rqak_1 {
  padding: 0;
}
._collapse-button_1rqak_1 .anticon {
  margin-left: 2px;
}._query-filter_15dew_1 {
  position: relative;
  row-gap: 24px;
}
._query-filter_15dew_1 .ant-form-item {
  margin-block: 0;
}
._query-filter_15dew_1 ._form-item__vertical_15dew_8 {
  margin-top: 30px;
}
._query-filter_15dew_1 ._action-col_15dew_11 {
  text-align: end;
}
._query-filter_15dew_1 ._col-hidden_15dew_14 {
  display: none;
}._extra_1ymdl_1 {
  margin-block-end: 16px;
}._tree-list_197kf_1 ._tree-list-title_197kf_1 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin: 6px 0;
  padding-left: 24px;
}
._tree-list_197kf_1 ._tree-node_197kf_7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._tree-list_197kf_1 ._tree-node_197kf_7 ._tree-node-title_197kf_12 {
  flex: 1;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
._tree-list_197kf_1 ._tree-node_197kf_7 ._tree-node-option_197kf_19 {
  padding-right: 4px;
  cursor: pointer;
  display: none;
}
._tree-list_197kf_1 ._tree-node_197kf_7 ._tree-node-option_197kf_19 span.anticon {
  color: #1677FF;
}
._tree-list_197kf_1 .ant-tree-node-content-wrapper:hover {
  background-color: transparent !important;
}
._tree-list_197kf_1 .ant-tree-node-content-wrapper:hover ._tree-node-option_197kf_19 {
  display: block;
}
._tree-list_197kf_1 .ant-tree {
  background: #F5F5F5;
}
._tree-list_197kf_1 .ant-tree-list-holder {
  padding-top: 2px;
}
._tree-list_197kf_1 .ant-tree-indent {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: grab;
}
._tree-list_197kf_1 .ant-tree-indent::before {
  display: block;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 14px;
  text-align: center;
  content: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSI2NCA2NCA4OTYgODk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZm9jdXNhYmxlPSJmYWxzZSIgZmlsbD0icmdiYSgwLCAwLCAwLCAwLjY1KSI+PHBhdGggZD0iTTMwMCAyNzYuNWE1NiA1NiAwIDEwNTYtOTcgNTYgNTYgMCAwMC01NiA5N3ptMCAyODRhNTYgNTYgMCAxMDU2LTk3IDU2IDU2IDAgMDAtNTYgOTd6TTY0MCAyMjhhNTYgNTYgMCAxMDExMiAwIDU2IDU2IDAgMDAtMTEyIDB6bTAgMjg0YTU2IDU2IDAgMTAxMTIgMCA1NiA1NiAwIDAwLTExMiAwek0zMDAgODQ0LjVhNTYgNTYgMCAxMDU2LTk3IDU2IDU2IDAgMDAtNTYgOTd6TTY0MCA3OTZhNTYgNTYgMCAxMDExMiAwIDU2IDU2IDAgMDAtMTEyIDB6Ii8+PC9zdmc+");
}
._tree-list_197kf_1 .ant-tree-treenode {
  align-items: center;
}
._tree-list_197kf_1 .ant-tree-treenode .ant-tree-checkbox {
  margin: 0 4px 0 0;
  top: 0;
}
._tree-list_197kf_1 .ant-tree-treenode-disabled .ant-tree-indent {
  cursor: not-allowed;
}
._tree-list_197kf_1 .ant-tree-treenode-disabled .ant-tree-indent::before {
  display: none;
}._column-setting-title_5rp1x_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

._tree-list-group_5rp1x_8 {
  width: 232px;
  display: flex;
  flex-direction: column;
}._popup-container_139xk_1 {
  position: relative;
}
._popup-container_139xk_1 .ant-popover {
  padding-top: 0;
}
._popup-container_139xk_1 .ant-popover-arrow {
  display: none;
}
._popup-container_139xk_1 .ant-popover-inner-content {
  padding: 0 0 8px;
}

._toolbar_139xk_14 {
  display: flex;
  justify-content: space-between;
  padding-block: 16px;
}
._toolbar_139xk_14 ._toolbar-title_139xk_19 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  white-space: nowrap;
}
._toolbar_139xk_14 ._toolbar-actions_139xk_28 {
  white-space: nowrap;
  padding-inline-start: 16px;
}._action_ggzx2_1 {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  user-select: none;
  -webkit-text-decoration-skip: objects;
}
._action_ggzx2_1._action__primary_ggzx2_10 {
  color: #1677FF;
}
._action_ggzx2_1._action__primary_ggzx2_10:hover {
  color: #4096FF;
}
._action_ggzx2_1._action__primary_ggzx2_10:active {
  color: #0958D9;
}
._action_ggzx2_1._action__warning_ggzx2_19 {
  color: #FAAD14;
}
._action_ggzx2_1._action__warning_ggzx2_19:hover {
  color: #FFC53D;
}
._action_ggzx2_1._action__warning_ggzx2_19:active {
  color: #D48806;
}
._action_ggzx2_1._action__error_ggzx2_28 {
  color: #FF4D4F;
}
._action_ggzx2_1._action__error_ggzx2_28:hover {
  color: #FF7875;
}
._action_ggzx2_1._action__error_ggzx2_28:active {
  color: #D9363E;
}._popup-container_4h9gu_1 {
  position: relative;
}

._alert_4h9gu_5 {
  margin-block-end: 16px;
  background-color: #FAFAFA;
  border-radius: 6px;
  border: none;
}

._alert-container_4h9gu_12 {
  padding-block: 12px;
  padding-inline: 24px;
}

._alert-info-wrap_4h9gu_17 {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
}
._alert-info-wrap_4h9gu_17 ._alert-content_4h9gu_24 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}
._alert-info-wrap_4h9gu_17 ._alert-options_4h9gu_30 {
  white-space: nowrap;
  padding-inline-start: 16px;
}._popup-container_116in_1 {
  position: relative;
}